{% extends "base.html" %}

{% block title %}Esqueci a Senha{% endblock %}

{% block content %}
<h1>Esqueci a Senha</h1>
<p>Insira seu e-mail para receber instruções sobre como redefinir sua senha:</p>
<div class="forgot-password-container">
    <form id="emailForm" class="forgot-password-form">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
        <div class="forgot-password-actions">
            <button type="submit">Enviar</button>
        </div>
    </form>
    <p><a href="/">Voltar para o Login</a></p>
</div>

<script>
    document.getElementById('emailForm').onsubmit = async (event) => {
        event.preventDefault();
        const email = document.getElementById('email').value;

        const response = await fetch('/send_email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email })
        });

        const result = await response.json();
        alert(result.message);
        if (response.ok) {
            window.location.href = "/"; // Redireciona para a página de login após o envio bem-sucedido
        }
    };
</script>
{% endblock %}
