<table class="table table-bordered table-custom">
    <thead class="thead-petroleo">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Perfil</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.nome }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.profile.name if user.profile else 'Sem Perfil' }}</td>
            <td class="text-center" style="white-space: nowrap;">
                <button type="button" class="btn btn-sm btn-warning custom-btn mx-1" onclick="loadEditUser('{{ user.id }}')">
                    <i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger custom-btn mx-1" onclick="confirmDelete('{{ user.id }}')">
                    <i class="bi bi-x-circle"></i>
                </button>
            </td>
                                </tr>
        {% endfor %}
    </tbody>
</table>
