/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* Conteúdo principal */
.main-content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s;
    width: calc(100% - 250px);
}

.main-content.collapsed {
    margin-left: 60px; /* Ajuste do conteúdo principal ao colapsar a sidebar */
    width: calc(100% - 60px);
}

/* Estilo para Containers */
.container {
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo para Containers do login */
.containerlogin {
    width: 300px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo de Formulário */
h2 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Definindo a fonte para 12px */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Botões */
button {
    width: 100%;
    padding: 10px;
    background-color: #005f5f; /* Azul petróleo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003e3e; /* Azul petróleo mais escuro ao passar o mouse */
}

/* Links */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00acc1; /* Azul petróleo claro para links */
    text-decoration: none;
}

/* Estilo de Ícone */
i {
    font-size: 15px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  /* Garante que a imagem não fique maior que a tela */
    height: auto;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;  /* tamanho da logo */
    height: auto;
}
