/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 12px; /* Tamanho da fonte geral */
}

/* Conteúdo principal */
.main-content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s;
    width: calc(100% - 250px);
}

.main-content.collapsed {
    margin-left: 60px; /* Ajuste do conteúdo principal ao colapsar a sidebar */
    width: calc(100% - 60px);
}

/* Estilo para Containers */
.container {
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo para Containers das paginas dentro do sistema */
.containerlogin {
    width: 313px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
}

/* Estilo para o container de marca d'água */
.containermarcadagua {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagens/logo.jpg');
    background-size: contain; /* Ajusta a imagem para ficar toda visível */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem no fundo */
    opacity: 0.1; /* Transparência para efeito de marca d'água */
    z-index: 1;
}

/* Estilo para o container de login */
.containerlogin2 {
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Largura fixa para ambos os campos de entrada */
form input[type="email"],
form input[type="password"] {
    width: 100%; /* Define a largura completa para ambos os campos dentro do form */
    max-width: 302px; /* Limita a largura máxima dos campos */
    box-sizing: border-box; /* Garante que o padding não altere o tamanho do input */
}

/* Espaço extra apenas no campo de senha para o ícone */
.password-container input[type="password"] {
    padding-right: 35px;
}

/* Estilo para o container do campo de senha com ícone */
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Mantém a largura do container */
}

/* Estilo do ícone de mostrar/esconder senha */
.toggle-password {
    position: absolute;
    right: 20px; /* Margem direita consistente */
    top: 32%; /* Ajuste fino para centralizar verticalmente */
    transform: translateY(-40%); /* Centraliza no campo */
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2); /* Cinza com 20% de opacidade */
}

/* Faixa de fundo para título e logo */
.title-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Cor de fundo suave */
    padding: 10px;
    border-radius: 8px; /* Borda arredondada para suavidade */
    margin-bottom: 20px; /* Espaço abaixo da faixa */
}

/* Estilo do título */
.title-bar h2 {
    font-size: 18px;
    margin: 0;
    color: #333; /* Cor do texto */
}

/* Estilo da logo */
.title-bar .logo {
    width: 400px; /* Define a largura exata */
    height: auto; /* Remove a restrição de altura fixa */
    margin-left: 0px; /* Espaço entre o título e a imagem */
}

/* Estilo para Container principal */
.containerprincipal {
    width: 600px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 0px;
}

/* Estilo para Containers do login */
.containerconsultar {
    width: 600px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
}

/* Estilo de Formulário */
h2 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Título do formulário */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px; /* Tamanho da fonte nos inputs e selects */
}

/* Botões */
button {
    width: 150px;
    padding: 10px;
    background-color: #005f5f; /* Azul petróleo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-senha {
    width: 302px;
    padding: 10px;
    background-color: #005f5f; /* Azul petróleo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #003e3e; /* Azul petróleo mais escuro ao passar o mouse */
}

/* Links */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00acc1; /* Azul petróleo claro para links */
    text-decoration: none;
}

/* Estilo de Ícone */
i {
    font-size: 15px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  /* Garante que a imagem não fique maior que a tela */
    height: auto;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 302px;  /* tamanho da logo */
    height: auto;
}

/* Definindo o tamanho da fonte para todos os campos de formulário */
input,
textarea,
select,
button {
    font-size: 12px !important; /* Tamanho da fonte aplicado a todos os formulários */
}

.form-control-lg {
    border-radius: 0.25rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    height: 40px; /* Altura fixa */
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    height: 40px; /* Altura igual ao campo de input */
    background-color: #006666; /* Azul petróleo */
    color: white;
    border: none;
}

.form-row {
    justify-content: flex-start; /* Alinhar ambos ao topo */
}

.align-top {
    vertical-align: top; /* Forçar o botão a alinhar pelo topo */
}

/* Estilos para a tabela */
.table-custom {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.thead-petroleo {
    background-color: #006666; /* Azul petróleo */
    color: white;
    text-align: center;
}

.table-custom th, .table-custom td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table-custom tbody tr:hover {
    background-color: #e0f7fa;
}

.table-custom th {
    font-weight: bold;
    text-transform: uppercase;
}

/* Personalização dos botões */
.custom-btn {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 50%;
}

/* Cores dos botões de ação */
.btn-warning {
    background-color: #ffcc00;
    border: none;
}

.btn-danger {
    background-color: #cc0000;
    border: none;
}

.text-center {
    text-align: center;
}

header.banner-header {
    background: url('imagens/banner_maior.png') no-repeat center center;
    background-size: cover; /* Ajusta para cobrir todo o espaço sem distorcer */
    width: 100%; /* Largura completa */
    height: 70px; /* Altura fixa para manter a estrutura */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005f5f;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    header.banner-header {
        height: 50px; /* Reduz altura em telas menores */
        background-size: contain; /* Mantém a imagem ajustada ao espaço disponível */
    }
}

@media (max-width: 480px) {
    header.banner-header {
        height: 40px; /* Altura reduzida ainda mais para telas muito pequenas */
        background-size: contain;
    }
}
