/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 12px; /* Tamanho da fonte geral */
}

/* Conteúdo principal */
.main-content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s;
    width: calc(100% - 250px);
}

.main-content.collapsed {
    margin-left: 60px; /* Ajuste do conteúdo principal ao colapsar a sidebar */
    width: calc(100% - 60px);
}

/* Estilo para Containers */
.container {
    width: 100%;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo para Containers do login */
.containerlogin {
    width: 300px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo para Containers do login */
.containerconsultar {
    width: 600px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

/* Estilo de Formulário */
h2 {
    text-align: center;
    color: #333;
    font-size: 24px; /* Título do formulário */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 280px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px; /* Tamanho da fonte nos inputs e selects */
}

/* Botões */
button {
    width: 150px;
    padding: 10px;
    background-color: #005f5f; /* Azul petróleo escuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003e3e; /* Azul petróleo mais escuro ao passar o mouse */
}

/* Links */
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00acc1; /* Azul petróleo claro para links */
    text-decoration: none;
}

/* Estilo de Ícone */
i {
    font-size: 15px;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;  /* Garante que a imagem não fique maior que a tela */
    height: auto;
}

.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;  /* tamanho da logo */
    height: auto;
}

/* Definindo o tamanho da fonte para todos os campos de formulário */
input,
textarea,
select,
button {
    font-size: 12px !important; /* Tamanho da fonte aplicado a todos os formulários */
}

.form-control-lg {
    border-radius: 0.25rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    height: 40px; /* Altura fixa */
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    height: 40px; /* Altura igual ao campo de input */
    background-color: #006666; /* Azul petróleo */
    color: white;
    border: none;
}

.form-row {
    justify-content: flex-start; /* Alinhar ambos ao topo */
}

.align-top {
    vertical-align: top; /* Forçar o botão a alinhar pelo topo */
}

/* Estilos para a tabela */
.table-custom {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.thead-petroleo {
    background-color: #006666; /* Azul petróleo */
    color: white;
    text-align: center;
}

.table-custom th, .table-custom td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table-custom tbody tr:hover {
    background-color: #e0f7fa;
}

.table-custom th {
    font-weight: bold;
    text-transform: uppercase;
}

/* Personalização dos botões */
.custom-btn {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 0 5px;
    border-radius: 50%;
}

/* Cores dos botões de ação */
.btn-warning {
    background-color: #ffcc00;
    border: none;
}

.btn-danger {
    background-color: #cc0000;
    border: none;
}

.text-center {
    text-align: center;
}
