<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro de Perfil</title>
</head>
<body>
    <div class="containerlogin">
        <h2>Cadastro de Perfil</h2>
        <form id="addProfileForm" method="POST">
            <div class="form-group">
                <label for="name">Nome do Perfil</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="level">Nível</label>
                <input type="number" class="form-control" id="level" name="level" min="0" max="6" required>
            </div>
            <button type="submit" class="button">Cadastrar Perfil</button>
        </form>
    </div>

    <!-- Inclui o modal de confirmação -->
    {% include 'partials/pagina_confirmacao.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('addProfileForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Previne o envio padrão do formulário

            // Envia o formulário via AJAX
            const formData = new FormData(this);
            fetch("{{ url_for('add_profile') }}", {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Erro ao processar a solicitação");
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    document.querySelector('#confirmationModal .modal-body p').textContent = data.mensagem;
                    $('#confirmationModal').modal('show');  // Exibe o modal de confirmação em caso de sucesso
                } else {
                    alert(data.mensagem || "Erro ao cadastrar perfil.");  // Exibe popup de alerta em caso de erro
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                alert("Erro ao cadastrar perfil.");
            });
        });
    </script>
</body>
</html>
