<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h2>Editar Perfil</h2>
    <form method="POST" action="{{ url_for('edit_profile', id=profile.id) }}">
      <input type="text" name="profile_name" value="{{ profile.name }}" placeholder="Nome do Perfil">
      <button type="submit">Salvar</button>
    </form>
    <a href="{{ url_for('add_profile') }}">Cancelar</a>
    
    
</body>
</html>
