<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="containerlogin">
        <h2>Login</h2>
        <!-- Exibir mensagens flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            <label for="email">E-mail:</label>
            <input type="email" name="email" required>
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('forgot_password') }}">Esqueci a senha</a>
    </div>
</body>
</html>
