<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div class="containerlogin"> <!-- Usando a classe containerlogin -->
        <h2>Cadastro de Usuário</h2>
        <form id="registerForm" method="POST" action="{{ url_for('register') }}">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="profile_id">Perfil</label>
                <select class="form-control" id="profile_id" name="profile_id" required>
                    <option value="" disabled selected>Selecione um Perfil</option>
                    {% for profile in profiles %}
                    <option value="{{ profile.id }}">{{ profile.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button">Cadastrar</button>
        </form>
    </div>

    <!-- Inclui o modal de confirmação -->
    {% include 'partials/pagina_confirmacao.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Previne o envio padrão do formulário
    const formData = new FormData(this);

    fetch("{{ url_for('register') }}", {
        method: 'POST',
        body: formData
    })
    .then(response => {
        console.log("Response Status:", response.status); // Verifica o status da resposta
        if (!response.ok) {
            throw new Error("Erro ao processar a solicitação");
        }
        return response.json();
    })
    .then(data => {
        console.log("Data received from server:", data); // Verifica o conteúdo do `data`
        if (data.success) {
            // Exibe o modal de confirmação com a mensagem de sucesso
            document.querySelector('#confirmationModal .modal-body p').textContent = data.mensagem;
            $('#confirmationModal').modal('show');
        } else {
            // Exibe a mensagem de erro no formato de popup
            alert(data.mensagem || "Erro ao cadastrar o usuário.");
        }
    })
    .catch(error => {
        console.error('Erro:', error);
        alert("Erro ao cadastrar o usuário.");
    });
});

    </script>
    
</body>
</html>
